<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>Blog - {{ title }}</title>
        {% else %}
        <title>Welcome to Blog</title>
        {% endif %}
    </head>
    <body>
        Blog : <a href="/index">Home</a> | 
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('user', username=current_user.username) }}">Profile</a> |
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
        
        {% block content %}{% endblock %}
    </body>
</html>